<header class="nav">
    <h1>This is the <span class="app__name">{{title}}</span> page</h1>
    <a class="nav__link" href="/">go to weather</a>
    <a class="nav__link" href="/about">go to about</a>
    <a class="nav__link" href="/help">go to help</a>
</header>