@import "common/colors";
@import "404";
@import "common/states";
@import "common/structure";

.app {
    &__name {
        color: #4f5fd2;
        text-transform: uppercase;
    }

    &__img {
        width: 250px;
    }

    &__author {
        color: #d23b1a;
        font: 16px "Helvetica Neue";
        font-weight: bold;
    }
}

.wait {
    width: 30px;
}